{% extends 'template.html' %}
{% block content %}
<p class="noprint">
    Avoid frustration and wasted money. <a href="index.html">Read the introduction first!</a>
</p>
<p class="noprint">
    This is only a material list. <strong>We are not selling these parts.</strong> It is pointless to ask us for a quote.
</p>
<table>
<thead>
    <th class="c-id">Part ID</th>
    <th class="c-qty">Qty</th>
    <th class="c-prt">Part</th>
    <th class="c-rem">Remark</th>
    <th class="c-pkg">Package</th>
    <th class="c-cmp">Components</th>
</thead>
<tbody>
{% for sec, parts in bom.items() %}
<tr><td class="section" colspan="6">{{ sec }}</td></tr>
{% for p in parts %}
<tr>
    <td class="c-id">{{ p.id|e }}</td>
    <td class="c-qty">{{ p.quantity|e }}</td>
    <td class="c-prt">{{ p.part|e }}</td>
    <td class="c-rem">
        {%- if p.mouser -%}
            <a href="https://www.mouser.com/ProductDetail/{{ p.mouser.id }}" class="msr">M</a>
        {%- endif -%}
        {%- if p.rare -%}
            <span class="rare">Rare</span>
        {%- endif -%}
        {{ p.remark|e }}</td>
    <td class="c-pkg">{{ p.package|e }}</td>
    <td class="c-cmp">{{ p.components|join(', ')|e }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
<p class="noprint">
    <span class="msr">M</span> are links to example components at Mouser Electronics, and are not peer reviewed yet.
</p>
{% endblock %}